
.fullContentRegister2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* ===========Imagem========= */
.logoAndText{
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 450px;
}
.boo{
    margin-bottom: 170px;
}
.imagemLogooi{
    width: 600px;
    height: 600px;
    object-fit: contain;
}
.paragrafoLogo{
    font-size: 18pt;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: -200px;
    text-size-adjust: 100pt;
    width: 78%;
}
.paragrafoLogo1{
    font-size: 18pt;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.criarNovaContaButton{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.criarConta{
    font-weight: 700;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;

}

/* ===========form========= */
.sectionRegisterNew{
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    margin-top: 80px;
}
.LoginH1{
    width: 70%;
    margin-bottom: 25px;
    font-size: 40pt;
    font-family: 'Roboto', sans-serif;
}
.formRegister{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.fastInput{
    height: 45px;
    margin-bottom: 25px;
    border-radius: 5px;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;

}
.in{
    border: none;
    border-bottom: 1.8px solid #666;
    border-radius: 0px;
    padding-left: 5px;
}
.buttonEntrarLogin{
    border: none;
    background-color: rgb(14, 14, 200);
    color: #fff;
    cursor: pointer;
}
.bboRegister{
    width: 70%;
    margin-bottom: 25px;
    font-size: 30pt;
    font-family: 'Roboto', sans-serif;
}
.criarNovaContaButtonTermos{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 14pt;
    font-weight: 600;
}
.criarNovaContaButtonTermos:hover{
    color: blue;
    transition: 0.3s;
}
.checkuserRegisterAlert{
    width: 100%;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid red;
    background-color: rgba(255, 0, 0, 0.435);
    color: #fff;
    margin-bottom: 10px;
    font-size: 14pt;
}
.errRegister2{
    width: 100%;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #FFD700;
    background-color: #ffd90075;
    color: #fff;
    margin-bottom: 10px;
    font-size: 14pt;
}
.errRegister3{
    width: 100%;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14pt;
    border: 1.5px solid #7FFF00;
    background-color: #80ff005a;
}
.errRegister4{
    width: 100%;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14pt;
    background-color: #0080005f;
    border: 1.5px solid #008000;
}
.politicas{
    color: #666;
    font-size: 13pt;
}
.celularClassMundo{
    height: 45px;
    margin-bottom: 25px;
    border-radius: 5px;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    object-fit: cover;
    box-sizing: border-box;
    display: flex;
}
.telMundo{
    width: 100%;
    height: 45px;
    border: none;
    
}

/* ===========================Responsividade===================== */
@media(max-width: 1460px){
    .paragrafoLogo{
        font-size: 18pt;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-top: -190px;
        margin-bottom: 15px;
        width: 100%;
    }
    .paragrafoLogo1{
        font-size: 18pt;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-top: -10px;
    }
}
@media(max-width: 1000px){
    .imagemLogooi{
        width: 400px;
        height: 400px;
        object-fit: contain;
        margin-bottom: 50px;
    }
    .paragrafoLogo{
        font-size: 15pt;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-top: -190px;
        margin-bottom: 15px;
        width: 100%;
    }
    .paragrafoLogo1{
        font-size: 15pt;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-top: -10px;
    }
}
@media(max-width: 950px){
    .paragrafoLogo{
        font-size: 13pt;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-top: -190px;
        margin-bottom: 15px;
        width: 99.2%;
    }
    .paragrafoLogo1{
        font-size: 13pt;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-top: -10px;
    }
}
@media(max-width: 830px){
    .imagemLogooi{
        width: 370px;
        height: 370px;
        object-fit: contain;
        margin-bottom: 50px;
    }
    .paragrafoLogo{
        font-size: 12pt;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-top: -190px;
        margin-bottom: 15px;
        width: 100%;
    }
    .paragrafoLogo1{
        font-size: 12pt;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-top: -10px;
    }
}
@media(max-width: 760px){
    .imagemLogooi{
        width: 350px;
        height: 350px;
        object-fit: contain;
        margin-bottom: 50px;
    }
    .paragrafoLogo{
        font-size: 10pt;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-top: -190px;
        margin-bottom: 15px;
        width: 99.8%;
    }
    .paragrafoLogo1{
        font-size: 10pt;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-top: -10px;
    }
}
@media(min-height: 700px){
    .fullContentRegister2{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: -30px;
    }
}
@media(min-height: 750px){
    .fullContentRegister2{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: -60px;
    }
}
@media(min-height: 800px){
    .fullContentRegister2{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: -100px;
    }
}
@media(min-height: 860px){
    .fullContentRegister2{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: -140px;
    }
}
@media(min-height: 960px){
    .fullContentRegister2{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: -180px;
    }
}
@media(min-height: 1030px){
    .fullContentRegister2{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: -220px;
    }
}
@media(min-height: 1110px){
    .fullContentRegister2{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: -250px;
    }
}
@media(min-height: 1200px){
    .fullContentRegister2{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: -290px;
    }
}
@media(max-width: 680px){
    .bboRegister{
        width: 70%;
        margin-bottom: 25px;
        font-size: 22pt;
        font-family: 'Roboto', sans-serif;
    }
}
@media(max-width: 650px){
    .criarNovaContaButtonLogin{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .criarContaLogin{
        font-weight: 700;
        font-size: 10pt;
        font-family: 'Roboto', sans-serif;
    }
    #colorLinkLogin{
        color: black;
        font-size: 12pt;
    }
    #colorLinkServerLogin{
        color: #666;
        font-size: 11px;
    }
}
@media(max-width: 600px){
    .fullContentRegister2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logoAndText{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }
    .imagemLogooi{
        width: 350px;
        height: 350px;
        object-fit: contain;
        margin-top: -50px;
    }
    .paragrafoLogo{
        display: none;
    }
    .paragrafoLogo1{
        display: none;
    }
    .sectionRegisterNew{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        margin-top: -800px;
    }
    .bboRegister{
        display: none;
    }
}
@media(max-width: 500px){
    .formRegister{
        width: 95%;
        display: flex;
        flex-direction: column;
    }
}
